.new-expense__controls {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
	text-align: left;
}

.new-expense__control.isValid label {
	color: #f44336;
}
.new-expense__control.isValid input {
	border: 3px solid #f44336;
	background-color: rgb(202, 151, 151);
}

.new-expense__control label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: block;
}

.new-expense__control input {
	font: inherit;
	padding: 0.5rem;
	border-radius: 6px;
	border: 1px solid #ccc;
	width: 20rem;
	max-width: 100%;
}

.new-expense__actions {
	text-align: right;
}
